body {
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #636363;
}

#contenedor {
  width: 80%;
  max-width: 600px;
  min-width: 500px;
  margin: auto;
  padding: 15px;
  display: grid;
  grid-template-areas:
    "input input"
    "resumen lista";
  grid-template-columns: 1fr 2fr;
  border: solid 1px #ccc;
  border-radius: 10px;
  background-color: #FFFFFF;
}

#areaInput {
  grid-area: input;
  width: 100%;
}

#areaInput h2{
  font-size: 1.2em;
}

#resumen {
  grid-area: resumen;
  margin-top: 20px;
  list-style: none;
  font-size: 0.7em;
  color: #636363;
}

#resumen li {
    display: block;
    margin-bottom: 5px;
    margin-left: -20px;
}

table {
  font-size: 0.8em;
}

#listado {
  grid-area: lista;
  margin-top: 20px;
  margin-left: -30px;
  font-size: 0.9em;
}

.cabecTabla {
  font-size: 0.8em;
  color:#636363;
}

#listado button {
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  color: red;
}

#listado button:hover{
  color: rgb(91, 12, 156);
}

#total, #realizadas {
    font-weight: 700;
}

#nuevaTarea {
  border-color: #cccccc;
  border-style: solid;
  padding: 12px;
  font-size: 15px;
  border-width: 2px;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 0px rgba(42, 42, 42, 0.75);
  width: 75%;
}
#nuevaTarea:focus {
  outline: none;
}

#agregarTarea {
    background: #75D38C;
    background-image: -webkit-linear-gradient(top, #75D38C, #357041);
    background-image: -moz-linear-gradient(top, #75D38C, #357041);
    background-image: -ms-linear-gradient(top, #75D38C, #357041);
    background-image: -o-linear-gradient(top, #75D38C, #357041);
    background-image: -webkit-gradient(to bottom, #75D38C, #357041);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    border: solid #107C35 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 #agregarTarea:hover {
    border: solid #99C624 1px;
    background: #357041;
    background-image: -webkit-linear-gradient(top, #357041, #75D38C);
    background-image: -moz-linear-gradient(top, #357041, #75D38C);
    background-image: -ms-linear-gradient(top, #357041, #75D38C);
    background-image: -o-linear-gradient(top, #357041, #75D38C);
    background-image: -webkit-gradient(to bottom, #357041, #75D38C);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-decoration: none;
 }

 .cabecTabla {
  padding: 5px; 
  border-bottom: solid 1px #ccc;
  text-align: left;
 }

 .contLista {
  margin-top: 20px;
 }
